.container {
  margin-top: 30px;
}

.title {
  font-size: 96px;
  font-weight: 400;
}

.post {
  margin-top: 60px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.imgContainer {
  flex: 1;
  height: 500px;
  position: relative;
}

.image {
  object-fit: cover;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.postTitle {
  font-size: 30px;
}

.postDesc {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  color: var(--softTextColor);
}

.button {
  padding: 16px 20px;
  border: none;
  border-radius: 5px;
  width: max-content;
  cursor: pointer;
}

@media screen and (max-width: 1351px) {
  .title {
    font-size: 71px;
  }
}

@media screen and (max-width: 1284px) {
  .imgContainer {
    display: none;
  }
}

@media screen and (max-width: 771px) {
  .title {
    font-size: 51px;
  }
}

@media screen and (max-width: 651px) {
  .title {
    font-size: 31px;
  }
}
